<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
    <div id="nav">
        <ul>
            <ol>
                <a [routerLink]="['/']"
                   routerLinkActive="router-link-exact-active"
                   [routerLinkActiveOptions]="{exact:true}">Home</a>
                |
                <a [routerLink]="['/about']"
                   routerLinkActive="router-link-exact-active"
                >About</a>
            </ol>
            <ol>
                <a [routerLink]="['/dataNmethod']"
                   routerLinkActive="router-link-exact-active">Data And Method</a>
            </ol>
            <ol>
                <a [routerLink]="['/computeNwatch']"
                   routerLinkActive="router-link-exact-active">Compute And Watch</a>
            </ol>
            <ol>
                <a [routerLink]="['/classStyleBind']"
                   routerLinkActive="router-link-exact-active">Class Style Bind</a>
            </ol>
            <ol>
                <a [routerLink]="['/filter']">Filters</a>
            </ol>
            <ol>
                <a [routerLink]="['/vueComponent']">Vue Component</a>
            </ol>
            <ol>
                <a [routerLink]="['/vuetifyMaterial']">Vue Material</a>
            </ol>
        </ul>
    </div>
    <router-outlet></router-outlet>

</div>
